.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    padding-right: 5vw;
  }
  .navbar input {
    padding: 8px 8px 8px 0;
    border-radius: 5px;
  }
  .navbar .icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  